<!DOCTYPE html>
<html>
	<head>
		<title>edit-milmoDB</title>		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		#{get 'moreStyles' /}	
		<link rel="stylesheet" type="text/css" media="screen" 
				href="@{'/public/stylesheets/main.css'}" />
		<link rel="shortcut icon" type="image/png" 
				href="@{'/public/images/co_logo.png'}" />
		<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script>
			$(function(){
				$("input[type=text]").keypress(function(ev) {
					if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
						return false;
					} else {
						return true;
					}
				});
			});
		</script>
	</head>
	<body id="admin">
		
		<div id="header">
			<div id="logo">
				edit-milmoDB
			</div>
			<ul id="tools">
				<li>
					<a href="@{Secure.logout()}" tabindex="-1">Log out</a>
				</li>
				<li>
					<a href="@{Application.index()}" tabindex="-1">Top</a>
				</li>
			</ul>
			<div id="loginname">
				ログイン　：　${user}
			</div>
		</div>
		
		<div id="main">
			#{doLayout /} 
		</div>
		
		<!--<p id="footer">
			milmoDB built with the 
			<a href="http://www.playframework.org">Play framework</a>.
		</p>-->
	</body>
</html>